.logo-img {
    border-bottom: 2px solid #006aff21;
    padding-bottom: 5px;
    aspect-ratio: 25/10;
    width: 20vw;
    min-width: 110px !important;
    white-space: nowrap;
    margin-bottom: 50px !important;
}

.slider {
    width: 50vw;
    height: 26vh;
    overflow-x: hidden;
}

.slider-track {
    height: 100%;
    display: flex;
    gap: 2.5rem;
    animation: scrolling 50s linear infinite;
} 

@keyframes scrolling {
    0% {
        transform: translateX(5vw);
    }
    100% {
        transform: translateX(-160vw);
    }
}



